[init]
  defaultBranch = main

[user]
  name = Jonathan Armentor
  email = jonathan@jonathanarmentor.dev

[core]
  editor = nvim
  autocrlf = false
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[includeIf "gitdir:/Volumes/Development/Comit/"]
  path = ~/.gitconfig-comit

[includeIf "gitdir:/Volumes/Development/Personal/"]
  path = ~/.gitconfig-personal

[advice]
  pushNonFastForward = false

[color]
  ui = auto

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "branch"]
  current = yellow reverse
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  new = green
  old = red

[alias]
  br = branch
  co = checkout
  d = diff
  ff = flow feature
  fff = flow feature finish
  ffi = flow init -d
  ffs = flow feature start
  fi = flow init -d
  l = log --oneline --decorate --color --all
  mt = mergetool
  s = status
  sh = show
  st = stash
  reb = "!r() { git rebase -i HEAD~$1; }; r"
  amend = commit --amend --reuse-message=HEAD
  count = rev-list --count
  graph = log --oneline --decorate --graph --all
  last = log -1 HEAD
  patch = log -p
  unstage = reset HEAD --
  whoami = config user.email

  # Show verboase output about tags, branches or rmotes.
  tags = tag -l
  branches = branch --all
  remotes = remote --verbose

  # List aliases.
  aliases = config --get-regexp alias

[log]
  date = relative

[apply]
  # detect whitespace errors when patching
  whitespace = fix

[push]
  followTags = true

[help]
  autocorrect = 1

[format]
  pretty = "%C(auto)%h%Creset %C(bold blue)%an%Creset %C(dim green)(%ad)%Creset%n    %s%n%b"

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[merge]
  tool=nvim

[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE
  trustExitCode = false
