[init]
  defaultBranch = main

[user]
  name = Jonathan Armentor
  email = jonathan@jonathanarmentor.dev

[core]
  editor = nvim
  autocrlf = false
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[includeIf "gitdir:/Volumes/Development/Comit/"]
  path = ~/.gitconfig-comit

[includeIf "gitdir:/Volumes/Development/Personal/"]
  path = ~/.gitconfig-personal

[rerere]
  enabled = true
  autoupdate = true

[fetch]
  prune = true
  prunetags = true

[advice]
  pushNonFastForward = false

[color]
  ui = auto

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "branch"]
  current = yellow reverse
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  new = green
  old = red

[diff]
  algorithm = histogram
  colorMoved = default

[alias]
  br = branch
  co = checkout
  d = diff
  l = log --oneline --decorate --color --all
  mt = mergetool
  s = status
  sh = show
  st = stash
  reb = "!r() { git rebase -i HEAD~$1; }; r"
  amend = commit --amend --reuse-message=HEAD
  count = rev-list --count
  graph = log --oneline --decorate --graph --all
  last = log -1 HEAD
  patch = log -p
  unstage = reset HEAD --
  whoami = config user.email
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch --all
  remotes = remote --verbose

  # List aliases
  aliases = config --get-regexp alias

  # Rebase shortcuts
  rc = rebase --continue
  ra = rebase --abort
  rs = rebase --skip

  # Force push safely
  pf = push --force-with-lease

  # WIP commits
  wip = "!git add -A && git commit -m 'WIP'"
  unwip = reset HEAD~1

  # Show what you've done today
  today = log --since=midnight --author='Jonathan' --oneline

  # Delete branches whose remote tracking is gone
  gone = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D"

[log]
  date = iso-local

[apply]
  # detect whitespace errors when patching
  whitespace = fix

[push]
  followTags = true
  default = simple
  autoSetupRemote = true

[pull]
  rebase = true
  ff = only

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[commit]
  verbose = true

[format]
  pretty = "%C(auto)%h%Creset %C(bold blue)%an%Creset %C(dim green)(%ad)%Creset%n    %s%n%b"

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[merge]
  tool=nvim

[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE
  trustExitCode = false
